@font-face {
  font-family: 'ZCOOL KuaiLe';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(fonts/f0.woff2) format('woff2');
  unicode-range: U+b7, U+2014, U+201c-201d, U+2026, U+3001-3002, U+300a-300d, U+4e00, U+4e09-4e0b, U+4e0d-4e0e, U+4e16, U+4e18, U+4e1a-4e1b, U+4e24, U+4e2a, U+4e2d, U+4e3b, U+4e4b, U+4e4e, U+4e66, U+4e86, U+4e8b-4e8c, U+4e8e, U+4e91, U+4e94, U+4ea4, U+4eae, U+4eba, U+4ecd-4ece, U+4ed6, U+4eec, U+4ef6, U+4f1a, U+4f4d, U+4f4f, U+4f53, U+4f55, U+4f59, U+4f5c, U+4f60, U+4f7f, U+4f8b, U+4fa7, U+4fef, U+503e, U+5077, U+50cf, U+5145, U+5148-5149, U+5154, U+5165, U+5168, U+5171, U+5173, U+5177, U+5185, U+518d, U+51b2, U+51e0, U+51fa, U+5217, U+5230, U+523a-523b, U+524d, U+526a, U+52a0, U+52a8, U+52bf, U+5316, U+533a, U+5347, U+534a, U+5355, U+5360, U+5373, U+539a, U+539f, U+53bb, U+53cc, U+53d1, U+53d6, U+53d8, U+53e0, U+53e3, U+53e5, U+53ea, U+53ef-53f0, U+53f3, U+53f7, U+53f9, U+540c-540e, U+5411, U+542c, U+5435, U+5438, U+5448, U+547c, U+54c8, U+5566, U+5634, U+56ca, U+56db, U+56de, U+56e2, U+56f4, U+56fe, U+5706, U+5708, U+5728, U+5730, U+573a, U+5750, U+5757, U+5782, U+57ab, U+57df, U+586b, U+58f0, U+5904, U+590d, U+5916, U+591c, U+5927, U+5929-592a, U+5931, U+5934, U+5947, U+5957, U+5976, U+597d, U+5982, U+5986, U+59cb, U+59d4, U+59ff, U+5a46, U+5b50, U+5b57, U+5b83, U+5b89, U+5b8c, U+5b9a, U+5bb6, U+5bbd, U+5bf9, U+5c01, U+5c0f, U+5c16, U+5c18, U+5c31, U+5c3e, U+5c42, U+5c45, U+5c48, U+5c4f, U+5c5e, U+5c71, U+5de6, U+5df2, U+5df4, U+5dfe, U+5e03, U+5e26-5e27, U+5e2e, U+5e38, U+5e55, U+5e72-5e73, U+5e8f, U+5e95, U+5ea6, U+5ef6, U+5f00, U+5f0f, U+5f15, U+5f1b, U+5f20, U+5f27, U+5f2f, U+5f31, U+5f39, U+5f52-5f53, U+5f62, U+5f71, U+5f84, U+5f97, U+5faa, U+5fae, U+5fc3, U+5feb, U+6001, U+6015, U+6027, U+60c5, U+60ca, U+60f3, U+610f, U+611f, U+6210-6211, U+6240, U+624b, U+624e, U+6253, U+6263, U+626f, U+627e, U+628a, U+6296, U+6298, U+62ab, U+62b1, U+62c9, U+62cd, U+6302, U+6307, U+6309, U+633a, U+6342, U+6362, U+638c, U+63a5, U+63a8, U+63cf, U+63d2, U+63ea, U+6444, U+6447, U+6536, U+653e, U+6545, U+6548, U+6563, U+6570, U+6574, U+6587, U+65b0, U+65b9, U+65c1, U+65e0, U+65e5, U+65e7, U+65f6, U+661f, U+662f, U+663c, U+6643, U+665a, U+666f, U+6696-6697, U+66f2-66f4, U+6700, U+6708-6709, U+671b, U+671d, U+671f, U+6728, U+672b-672c, U+672f, U+6735, U+673a, U+6756, U+675f, U+6761, U+6765, U+677e-677f, U+6784, U+6797, U+67d3, U+67e5, U+6807, U+6811, U+6839, U+683c-683d, U+6863, U+6869, U+68d2, U+68d5, U+68ee, U+692d, U+6a2a, U+6b20-6b21, U+6b62-6b63, U+6b65, U+6bb5, U+6bcf, U+6bd4, U+6bdb, U+6c14, U+6c34, U+6c9f, U+6ca1, U+6cb9, U+6cbf, U+6ce1, U+6d6e, U+6de1, U+6df1, U+6e10, U+6e32, U+6e90, U+6ee1, U+6ef4, U+704c, U+706b, U+706f-7070, U+70b8-70b9, U+70c1, U+70df, U+70eb, U+71ac, U+7206, U+722a, U+7247, U+724c, U+7259, U+7269, U+72b6, U+72ec, U+732b-732c, U+73b0, U+73c0, U+7403, U+7425, U+74e3, U+74f6, U+751f, U+7528, U+7531, U+753b, U+754c, U+7559, U+758f, U+75d5, U+767d, U+7684, U+76ae, U+76c6, U+76d6, U+76f4, U+76f8, U+76fc, U+770b, U+7720, U+772f, U+773c, U+7740, U+7761, U+77aa, U+77ac, U+77e9, U+77ee, U+793c, U+79d2, U+79fb, U+7a0b, U+7a7a, U+7a97, U+7acb, U+7ad6, U+7ad9, U+7aef, U+7b11, U+7b14, U+7b2c, U+7b7e, U+7b97, U+7c89, U+7c92, U+7c97, U+7cd6, U+7cd9, U+7cfb, U+7ea2, U+7ea6, U+7eb8-7eb9, U+7ebf, U+7ec4, U+7ec6, U+7ec8, U+7ed2-7ed3, U+7ed8-7ed9, U+7eed, U+7f16, U+7f18, U+7f29, U+7f6e, U+7f8e, U+7fbd, U+7fc5, U+7ffb, U+8005, U+8033, U+8037, U+8054, U+809a, U+80a9, U+80cc, U+80ce, U+80d6, U+80f6, U+8106, U+810a, U+8116, U+811a, U+8138, U+816e, U+8180, U+81c2, U+81ea, U+821e, U+8272, U+827a, U+8282, U+82b1, U+8349, U+83c7, U+8424-8425, U+843d, U+84dd, U+85cf, U+8611, U+866b, U+86cb, U+884c, U+8854, U+8863, U+8868, U+888b, U+8896, U+88ab, U+88c5, U+8981, U+89c6, U+89d2, U+8a00, U+8ba4, U+8ba9, U+8bb0, U+8bb2, U+8bb6, U+8bba, U+8bc4, U+8bcd, U+8bdd, U+8bed, U+8bf4, U+8bfb, U+8c01, U+8c03, U+8c46, U+8d34, U+8d44, U+8d70, U+8d77, U+8d85, U+8d8a, U+8ddf, U+8de8, U+8def, U+8df3, U+8e66, U+8e72, U+8eab, U+8f68, U+8f6f, U+8f74, U+8f7b, U+8f89, U+8fb9, U+8fbe, U+8fc7, U+8fd1, U+8fdb-8fdc, U+8fde, U+8feb, U+9000, U+900f-9010, U+9012, U+901f, U+9053, U+907f, U+90a3, U+90e8, U+90fd, U+914d, U+9192, U+91ca, U+91cc-91cd, U+91cf, U+91d1, U+94a9, U+94c5, U+94f0, U+94f6, U+94fe, U+9505, U+9519-951a, U+955c, U+957f, U+95ea, U+95ed, U+95f4, U+9633, U+9635, U+968f, U+9699, U+96f6, U+9700, U+9752, U+9759, U+9760, U+9762, U+978b, U+97f3, U+9875-9876, U+987a, U+987e, U+9886, U+988a, U+9897-9898, U+989d, U+98ce, U+98d8, U+98de, U+9971, U+9a7b, U+9ad8, U+9e1f, U+9e70, U+9ec4, U+9ed1, U+9f20, U+9f3b, U+9f50, U+ff01, U+ff08-ff09, U+ff0c, U+ff1a-ff1b, U+ff1f;
}
/* hebrew */
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: block;
  src: url(fonts/f1.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: block;
  src: url(fonts/f2.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: block;
  src: url(fonts/f3.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: block;
  src: url(fonts/f1.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: block;
  src: url(fonts/f2.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: block;
  src: url(fonts/f3.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: block;
  src: url(fonts/f1.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: block;
  src: url(fonts/f2.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: block;
  src: url(fonts/f3.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
